@model RandomBootstrap.Models.RandomViewModel

@{
    ViewData["Title"] = "Theme #" + Model.Seed;
}

@section Styles
{
    <link rel="stylesheet" href="@Url.Action("Bootstrap", "Home", new {Model.Seed})" />
}

@{
    var random = new Random();
}

<h2>_custom.scss</h2>
<p>Place the following code in _custom.scss and use a tool like libsass to generate your custom bootstrap theme.</p>
<pre><code class="scss">@Html.Raw(Model.Content)</code></pre>
<div>
    <button class="btn btn-primary">Copy Content</button> <a class="btn btn-secondary" href="@Url.Action("Index", "Home", new {Seed = random.Next() })">Get a new one</a>
</div>
<h2 contenteditable="true">My Editable Heading</h2>
<div contenteditable="true">
    <p><strong>Nullam invidunt mel te</strong>, an usu tale tritani placerat. Pro cu cibo nulla consequat, in soleat diceret mandamus vim. Ad eum pertinacia sadipscing, iusto recteque eam et, eu nec adipisci rationibus. Ut nam meliore denique splendide.</p>
    <p>Eu munere perpetua mel, <em>sit integre persius at</em>. Dicit bonorum invidunt vim te, tritani delenit vis cu. Usu eu vidit tamquam electram. Per altera tamquam alterum an, ne has prima atqui ponderum. Ius novum nihil feugiat eu. An per graeci invidunt rationibus.</p>
    <p>Ea cum liber decore facilisis. Quo ex quot audire, ne tale diceret detracto vis, eam ei viderer definitiones. Vim id tantas altera. Diceret electram ius cu. Mel at diam veri aliquam, eam quas possim cu. Elit pertinax sapientem sed ne, vim voluptaria necessitatibus et.</p>
</div>

<h2>Some Buttons</h2>
<div>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-link">Link</button>
</div>

<h2>Table Time</h2>
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@@mdo</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@@fat</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@@twitter</td>
    </tr>
    </tbody>
</table>

<h2>Some Badges</h2>
<div>
    <span class="badge badge-default">Default</span>
    <span class="badge badge-primary">Primary</span>
    <span class="badge badge-success">Success</span>
    <span class="badge badge-info">Info</span>
    <span class="badge badge-warning">Warning</span>
    <span class="badge badge-danger">Danger</span>
</div>

<h2>A form</h2>
<form>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
    </div>
    <fieldset class="form-group row">
        <legend class="col-form-legend col-sm-2">Radios</legend>
        <div class="col-sm-10">
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                    Option one is this and that&mdash;be sure to include why it's great
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                    Option two can be something else and selecting it will deselect option one
                </label>
            </div>
            <div class="form-check disabled">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
                    Option three is disabled
                </label>
            </div>
        </div>
    </fieldset>
    <div class="form-group row">
        <label class="col-sm-2">Checkbox</label>
        <div class="col-sm-10">
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox"> Check me out
                </label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </div>
</form>